<div class="container">
 <nav class="navbar navbar-expand-sm justify-content-end">
  <a class="mx-1" href="/">Home</a>
  <a class="mx-1" href="/works">Works</a>
  <a class="mx-1" href="/gallery">Photo Gallery</a>
  <a class="mx-1" href="/about">About</a>
 </nav>
</div>